 #calculator{
        border: 1px solid gray;
        width: 200px;
      }
      #display{
        margin: 10px;
        width: 85%;
        font-size: 30px;
      }
      #button-container{
        margin: 1px ;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .button{
        margin: 1px;
        width: 55px;
        height: 55px;
      }